name: npm run workflow_dispatch
on: 
  pull_request: 
    types: 
      - opened
      - edited
  workflow_dispatch:
     
   
 

jobs: 
  Build: 
    runs-on: ubuntu-latest 
    steps: 
      - name: Print hello
        run: echo "${{ toJSON(github) }}"

      - name: checkout the code
        uses: actions/checkout@v6

      - name: install node
        uses: actions/setup-node@v6
        with: 
          node-version: 18.*
      - run: npm ci
      - run: npm test

  Deploy: 
    needs: Build 
    runs-on: ubuntu-latest
    steps: 
    - name: install node
      uses: actions/setup-node@v6 
      with: 
       node-version: 18.*
    - name: Fetch code
      uses: actions/checkout@v6 
    - name: install dependencies 
      run: |
        npm ci
        npm run build
        ls 

    - name: uploading the artifacts
      uses: actions/upload-artifact@v4
      with: 
        path: dist 

    

