name: Resuable Deploy
on: 
  workflow_call:
    inputs: 
      env: 
        type: string
        default: Dev

jobs: 
  Build: 
    runs-on: ubuntu-latest
    steps: 
        - name: Deploying
          run: echo "Deployed successfully to ${{inputs.env}}"